@import "@flaticon/flaticon-uicons/css/all/all";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .glass-effect {
    @apply isolate bg-white/20 shadow-lg ring-1 ring-black/5;
  }

  .WR-clip-path{
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
  }

  .record-line-path{
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
}

body {
  margin: 0;
  padding:0;
}

html,body{
  margin:0;
}

/*SCROLLBAR*/

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f157;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1d4ed8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #93c5fd;
}